@import url('https://fonts.googleapis.com/css?family=Stoke&display=swap');

body {
  margin: 0;
}

header {
  background: tan;
  padding: .1em 0 .1em 0;
  text-align: center;
  background-image: url(images/Parchment5.jpg);
}

h1::first-letter {
  font-size: 200%;
  color: maroon;
  font-family: 'Stoke', serif;
}

