@import url('https://fonts.googleapis.com/css?family=Stoke&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
  margin: 0;
  background:  rgb(255, 245, 212);
  text-align: center;
}

header {
  background-image: url(./images/Ash.png);
  padding: .1em 0 .1em 0;
  color: #f4f4f4;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  border-bottom: 2px solid rgb(68, 68, 68);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1::first-letter {
  font-size: 200%;
  color: rgb(251, 89, 89);
  font-family: 'Stoke', serif;
}


.search {
  margin-top: 1em;
  display: inline-block;
  margin-right: 1em;
}

.input-field {
  background:#FFEFBA;
  border: 1px solid rgb(121, 121, 121);
  box-shadow: inset 0px 0px 40px 40px #f4f4f4;
  
}

.searchButton {
  border-radius: 5px;
  background: #586381;
  color:#FFEFBA;

}


.gallery {
  width: 90%;
  margin: 0 auto;
  /* height: 100em;  */
  /* margin-top: 1em; */
  background: rgb(255, 245, 212);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
  /* flex-direction: column; */
  padding: 1em;
}

.bookCard {
  /* height: 20%;
  width: 15%; */
  background: #636e8d;
  /* border: 1px solid red; */
  margin-top: 1em;
  margin-bottom: 1em;;
  font-family: sans-serif;
  font-size: .7em;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(65, 65, 65);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
 
}

.image {
  display: block;
  height: 175px;
  width: 125px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 1em;
}

.authors,
.title {
  color: #f4f4f4;
  width: 175px;
}

.authors {
  margin-top: -8px;
}

.title {
  text-decoration: underline;
}

.bookshelf {
  background-color: rgb(251, 89, 89);
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  
}

.about-btn {
  border-radius: 5px;
  background: #586381;
  color: #FFEFBA;
}

.link {
  color: #FFEFBA;
  font-size: 10px;
  padding: 3px;
  background-image: url(./images/Ash.png);
  margin-right: 1em;
  text-decoration: none;
  border-radius: 5px;
  font-family: sans-serif;
}


.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}