@import url('https://fonts.googleapis.com/css?family=Stoke&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
  margin: 0;
  background: #f4f4f4;
  text-align: center;
}

header {
  background-image: url(./images/Ash.png);
  padding: .1em 0 .1em 0;
  color: #f4f4f4;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

h1::first-letter {
  font-size: 200%;
  color: rgb(251, 89, 89);
  font-family: 'Stoke', serif;
}

.gallery {
  width: 84%;
  margin: 0 auto;
  height: 100vh;
  margin-top: 1em;
  background: #fffefe;
}

.search {
  margin-top: 1em;
}
